footer {
    min-height: 100px;
    background-color: $color0_1;
    color: $color6;
    padding: 6rem 0;
    padding-left: $p;
    display: grid;
    grid-template-columns: 10fr 3fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;

    >div {
        width: 100%;
        border-left: 2px solid $color2_1;
        border-right: 2px solid $color2_1;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: contain;
        }

        >h2 {
            margin: 1rem;
            font-family: "lobster";
            letter-spacing: 1rem;
        }

        >p {
            font: 600 1.2rem cursive;
            letter-spacing: 1px;
        }
    }

    >aside {

        >h2 {
            margin: .5rem;
            font-family: "lobster";
            letter-spacing: 4px;
        }

        >article {
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                font-size: 2.5rem;
                color: $color2_1;
                margin: 5px;

                &:hover {
                    color: $color2;
                }
            }
        }
    }

    > a {
        width: 50px;
        height: 50px;
        background-color: $color2_1;
        border-radius: 50%;
        display: grid;
        place-items: center;
        &:hover {
            background-color: $color2;
        }
        
        svg {
            font-size: 2rem;
            color: $color1;
        }
    }
}