 nav {
     width: 100%;
     height: 100px;
     background-color: $color0_1;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 $p;
     position: sticky;
     top: 0%;
     z-index: 60;

     >h2 {
         font-size: 2rem;
         font-family: "lobster", $text2;
         letter-spacing: 2px;
     }

     >div {
         display: flex;
         align-items: center;
         gap: 2rem;

         >a {
             color: $color6;
             font-weight: 500;
             transition: all 0.3s;
             letter-spacing: 1px;

             &:hover {
                 color: $color2;
                 transform: translateY(-2px);
             }
         }
     }

     >a>button {
         border: 1px solid $color6_1;
         padding: 0.5rem 2rem;
         background-color: $color0;
         cursor: pointer;
         color: $color6;
         letter-spacing: 1px;
         font-weight: 500;
         transition: all 0.3s;

         &:hover {
             background-color: $color6;
             color: $color4;
         }
     }
 }

 .navBtn {
     border: none;
     width: 40px;
     height: 40px;
     background-color: transparent;
     color: $color4;
     font-size: 1.4rem;
     z-index: 150;
     display: none;
     position: fixed;
     top: 2rem;
     right: 2rem;

     &:hover {
         color: $color2_1;
     }
 }

 // ------------- Hamburger menu =-------


 .navPhone {
     transition: all 0.5s;
     transform: translateY((-200%));
     width: 100%;
     height: 100vh;
     background-color: $color2_1;
     position: fixed;
     top: 0;
     z-index: 100;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 3rem;

     >h2 {
         font-size: 2rem;
         font-family: "lobster";
         color: $color1;
         letter-spacing: 10px;
     }

     >div {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 2rem;

         a {
             color: $color1;
             letter-spacing: 1px;
             font-weight: 500;
             transition: all 0.3s;
             outline: none;

             &:hover {
                 color: $color2;
             }
         }
     }

     >a>button {
         border: 1px solid $color6_1;
         padding: 0.5rem 2rem;
         background-color: $color2;
         color: $color1;
         cursor: pointer;
         letter-spacing: 1px;
         border-radius: 5px;
         font-weight: 600;
         transition: 0.5s;
         box-shadow: rgba(3, 3, 3, 0.377) 0px 20px 30px -10px;


         &:hover {
             background-color: $color2_1;
         }
     }
 }

 .navPhoneComes {
     transform: translateY(0);
 }

//  .menuColor {
//     color: red;
//  }