#home {
    width: 100%;
    height: 90vh;
    display: flex;

    > section {
        width: 100%;
        display: flex;
        

        &:first-of-type {
            padding-left: $p;
            border-top: 1px solid $color6_2;

            > div {
                height: 100%;
                padding-top: 6rem;

                > h1 {
                    font: 900 4rem $text1
                }

                .typewriterpara {
                    margin: 20px 0;
                    height: 20px;
                    letter-spacing: 5px;
                    line-height: 3;
                }

                > .hire {
                    display: flex;
                    margin: 5rem 0;
                    width: 100%;
                    gap: 4rem;
                    align-items: center;

                    > a {
                        &:first-of-type{
                            background-color: $color2;
                            color: $color1;
                            padding: 1rem 2.5rem;
                            transition: all 0.3s;
                            &:hover {
                                background-color: $color2_1;
                            }
                        }
                        &:last-of-type{
                            font: 600 1.2rem $text2;
                            color: $color5;
                            display: flex;
                            align-items: center;
                        }
                    }
                }

                aside {
                    display: flex;
                    justify-content: space-between;
                    width: 35vmax;
                }

                article {
                    margin: 2rem 0;
                    width: 10rem;
                    color: $color5;
                    position: relative;


                    &::after {
                        content: "";
                        background-color: $color4;
                        width: 100%;
                        height: 5rem;
                        border-radius: 50px;
                        position: absolute;
                        top: 20%;
                        left: 20%;
                        z-index: -1;
                    }
                    > p {
                        font: 900 2rem $text2;
                    }
                    > span {
                        font: 500 1rem $text1;
                    }
                }

                article[data-special] {
                    width: 16rem;
                }
            }
        }

        &:last-of-type {
            border-top: 1px solid $color6_2;
            display: flex;  
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-x: hidden;

            &::after {
                content: "";
                width: 40vmax;
                height: 40vmax;
                background-color: $color2;
                position: absolute;
                z-index: -1;
                border-radius: 50%;
            }

            > img {
                width: 40vmax;
                object-fit: contain;
                height: 40vmax;
                // transform: scale(1.047);
                // border-radius: 50%;
                filter: drop-shadow(16px 16px 20px rgba(190, 196, 192, 0.158)) contrast(200%);
             }
        }
    }
       
    > svg {
            position: absolute;
            font-size: 4rem;
            color: $color5;
            left: 50%;
            bottom: -2%;
            transform: translateX(-50%);
            animation: animateSvg 0.7s infinite linear alternate;
    }
}