#services {
    width: 100%;
    height: 100vh;
    padding: $p;
    background-color: $color2_1;
    color: $color4;
    overflow: hidden;

    >h2 {
        font: 700 2.5rem $text2;
        width: fit-content;
        margin: auto;
        padding: 0.5rem;
        border-bottom: 1px solid $color4;
    }

    >section {
        display: grid;
        margin: 3rem;
        grid-template-columns: repeat(3, 1fr);
        height: 100%;
        gap: 2rem;

        >* {
            width: 100%;
            height: 100%;
            background-color: $color0_1;
            color: $color6;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            transition: all 0.3s;

            &:hover {
                box-shadow: 0 0 5px 10px $color0_1;
                // transform: translateY(-15px);
            }

            > svg {
                color: $color2_1;
                font-size: 3rem;
            }

            > span {
                font: 900 1rem $text2;
                letter-spacing: 1px;
                margin: 1rem;
            }
        }

        .serviceBox1 {
             grid-column: 1/2;
             grid-row: 1/3;
             background-color: $color0_1;

             > h3 {
                font: 100 5rem $text1;
             }

             > p {
                font: 900 1.2rem $text2;
                letter-spacing: 1px;
             }
        }

        .serviceBox4 {
            grid-column: 2/4;
        }
    }
}